<!DOCTYPE html>
<html>
  <head>
    <title><%= starburstTitle %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= starburstTitle %></h1>
    <p>Welcome to <%= starburstTitle %></p>
    <p>The starburst I'm familiar with is called Fruitella</p>
    <img src="https://www.logolynx.com/images/logolynx/80/803946d659074fbd8fda00709fd6d930.jpeg" style= "height: 100%; width: 200px">
    <img src="https://cms.fruittella.co.uk/sites/fruittella.co.uk/files/FRUITT%20LOGO%20STICK_1.png" style="height: 100%; width: 200px;">
    <form id ="lollipops" method="get" action='/peach/lipgloss'>
        <input type="submit" name="deleter" value="DELETE">
    </form>
  </body>
</html>
